lg_soft/api/choice/ud-choice-5.yaml
{"StartAt": "Splits choice 1", "States": {"Splits choice 1": {"Parameters": {"LaunchType": "FARGATE", "Cluster": "arn:aws:ecs:ap-southeast-1:797237262327:cluster/cdk-modules-ClusterEB0386A7-WClYO89G9osw", "TaskDefinition": "arn:aws:ecs:ap-southeast-1:797237262327:task-definition/ecsTask:1984", "NetworkConfiguration": {"AwsvpcConfiguration": {"AssignPublicIp": "ENABLED", "SecurityGroups": ["sg-040ba6857f1980fe9"], "Subnets": ["subnet-0e824c46"]}}, "Overrides": {"ContainerOverrides": [{"Name": "container1", "Environment": [{"Name": "MODULE_LOC", "Value": "s3://lppdatasource103424-devthree/public/modules/1611117132/Scripts/v1/text_splitter_module_2op"}, {"Name": "INPUT_LOC", "Value": "s3://lppdatasource103424-devthree/public/DataLoad/Inputs/input.txt"}, {"Name": "CONFIG_FILE", "Value": "metaData:\n  name: Text Splitter-2Outputs\n  description: Splits choice 1\n  config: default\n  version: 1\n  team: NLP\ninput:\n  source:\n    - filePath: s3://lppdatasource103424-devthree/public/DataLoad/Inputs/input.txt\n      name: input.txt\n      srcType: local\n      fileType: txt\n      encoding: UTF-8\n      argName: inputfile\nfunctional:\n  process:\n    splittertype:\n      dataType: string\n      value: sentSplitter\n    batchsize:\n      dataType: int\n      value: 10\n    regex:\n      dataType: string\n      value: \"[\\\\w']+\"\ndeployment:\n  type: fargate\n  config:\n    lauch_type: User Option\n    ClusterName: lg cluster\n    ImageId: ami-0947d21ff75\n    InstanceType: t2.micro\n    ServiceName: nginx\n    CPU: 256\n    Memory: 512\n    Port: 80\n    HostPort: 80\n    Image: nginx:alpine\n    Count: 1\noutput:\n  dest:\n    - name: a88f9079-70ea-4e91-a731-57c8f576bf41_output.txt\n      targetType: local\n      fileType: txt\n      encoding: UTF-8\n      argName: outputfile\n      filePath: s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/a88f9079-70ea-4e91-a731-57c8f576bf41_output.txt\n    - name: parentchoiceoutput.txt\n      targetType: local\n      fileType: txt\n      encoding: UTF-8\n      argName: parentchoiceoutput\n      filePath: s3://lppdatasource113754-virgnia/public/DataLoad/Outputs/Output_Loc1/parentchoiceoutput.txt\ngeneral:\n  debug: no\n  level: 1\n  scriptFile: TextSplitter-2Output.py\n"}]}, {"Name": "container3", "Environment": [{"Name": "OUTPUT_LOC", "Value": "s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/a88f9079-70ea-4e91-a731-57c8f576bf41_output.txt s3://lppdatasource113754-virgnia/public/DataLoad/Outputs/Output_Loc1/parentchoiceoutput.txt"}]}]}}, "Resource": "arn:aws:states:::ecs:runTask.sync", "Type": "Task", "Next": "choiceState-1"}, "choiceState-1": {"Type": "Choice", "Choices": [{"Variable": "${context['step_execution']['DataLoader']}.output()['CustomCode']", "StringEquals": "A", "Next": "Split choice 2"}, {"Variable": "${context['step_execution']['DataLoader']}.output()['CustomCode']", "StringEquals": "B", "Next": "Split 1"}]}, "Split choice 2": {"Parameters": {"LaunchType": "FARGATE", "Cluster": "arn:aws:ecs:ap-southeast-1:797237262327:cluster/cdk-modules-ClusterEB0386A7-WClYO89G9osw", "TaskDefinition": "arn:aws:ecs:ap-southeast-1:797237262327:task-definition/ecsTask:1985", "NetworkConfiguration": {"AwsvpcConfiguration": {"AssignPublicIp": "ENABLED", "SecurityGroups": ["sg-040ba6857f1980fe9"], "Subnets": ["subnet-0e824c46"]}}, "Overrides": {"ContainerOverrides": [{"Name": "container1", "Environment": [{"Name": "MODULE_LOC", "Value": "s3://lppdatasource103424-devthree/public/modules/1611117132/Scripts/v1/text_splitter_module_2op"}, {"Name": "INPUT_LOC", "Value": "s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/a88f9079-70ea-4e91-a731-57c8f576bf41_output.txt"}, {"Name": "CONFIG_FILE", "Value": "metaData:\n  name: Text Splitter-2Outputs\n  description: Split choice 2\n  config: default\n  version: 1\n  team: NLP\ninput:\n  source:\n    - filePath: s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/a88f9079-70ea-4e91-a731-57c8f576bf41_output.txt\n      name: a88f9079-70ea-4e91-a731-57c8f576bf41_output.txt\n      srcType: local\n      fileType: txt\n      encoding: UTF-8\n      argName: inputfile\nfunctional:\n  process:\n    splittertype:\n      dataType: string\n      value: sentSplitter\n    batchsize:\n      dataType: int\n      value: 10\n    regex:\n      dataType: string\n      value: \"[\\\\w']+\"\ndeployment:\n  type: fargate\n  config:\n    lauch_type: User Option\n    ClusterName: lg cluster\n    ImageId: ami-0947d21ff75\n    InstanceType: t2.micro\n    ServiceName: nginx\n    CPU: 256\n    Memory: 512\n    Port: 80\n    HostPort: 80\n    Image: nginx:alpine\n    Count: 1\noutput:\n  dest:\n    - name: 03c248f4-f1e3-4502-a6fb-05c7ea76d4ca_output.txt\n      targetType: local\n      fileType: txt\n      encoding: UTF-8\n      argName: outputfile\n      filePath: s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/03c248f4-f1e3-4502-a6fb-05c7ea76d4ca_output.txt\n    - name: parentchoiceoutput2.txt\n      targetType: local\n      fileType: txt\n      encoding: UTF-8\n      argName: parentchoiceoutput\n      filePath: s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/parentchoiceoutput2.txt\ngeneral:\n  debug: no\n  level: 1\n  scriptFile: TextSplitter-2Output.py\n"}]}, {"Name": "container3", "Environment": [{"Name": "OUTPUT_LOC", "Value": "s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/03c248f4-f1e3-4502-a6fb-05c7ea76d4ca_output.txt s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/parentchoiceoutput2.txt"}]}]}}, "Resource": "arn:aws:states:::ecs:runTask.sync", "Type": "Task", "Next": "choiceState-2"}, "choiceState-2": {"Type": "Choice", "Choices": [{"Variable": "${context['step_execution']['DataLoader']}.output()['CustomCode']", "StringEquals": "A", "Next": "Split 2"}, {"Variable": "${context['step_execution']['DataLoader']}.output()['CustomCode']", "StringEquals": "B", "Next": "Split 3"}]}, "Split 2": {"Parameters": {"LaunchType": "FARGATE", "Cluster": "arn:aws:ecs:ap-southeast-1:797237262327:cluster/cdk-modules-ClusterEB0386A7-WClYO89G9osw", "TaskDefinition": "arn:aws:ecs:ap-southeast-1:797237262327:task-definition/ecsTask:1987", "NetworkConfiguration": {"AwsvpcConfiguration": {"AssignPublicIp": "ENABLED", "SecurityGroups": ["sg-040ba6857f1980fe9"], "Subnets": ["subnet-0e824c46"]}}, "Overrides": {"ContainerOverrides": [{"Name": "container1", "Environment": [{"Name": "MODULE_LOC", "Value": "s3://lppdatasource103424-devthree/public/modules/1608882570/Scripts/v1/Text-Splitter"}, {"Name": "INPUT_LOC", "Value": "s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/03c248f4-f1e3-4502-a6fb-05c7ea76d4ca_output.txt"}, {"Name": "CONFIG_FILE", "Value": "metaData:\r\n  name: Text Splitter\r\n  description: Split 2\r\n  config: default\r\n  version: 1\r\n  team: NLP\r\ninput:\r\n  source:\r\n    - filePath: s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/03c248f4-f1e3-4502-a6fb-05c7ea76d4ca_output.txt\r\n      name: file.txt\r\n      srcType: S3\r\n      fileType: txt\r\n      encoding: UTF-8\r\n      argName: inputfile\r\nfunctional:\r\n  process:\r\n    splittertype:\r\n      dataType: string\r\n      value: sentSplitter\r\n    batchsize:\r\n      dataType: int\r\n      value: 10\r\n    regex:\r\n      dataType: string\r\n      value: \"[\\\\w']+\"\r\ndeployment:\r\n  type: fargate\r\n  config:\r\n    lauch_type: User Option\r\n    ClusterName: lg cluster\r\n    ImageId: ami-0947d21ff75\r\n    InstanceType: t2.micro\r\n    ServiceName: nginx\r\n    CPU: 256\r\n    Memory: 512\r\n    Port: 80\r\n    HostPort: 80\r\n    Image: nginx:alpine\r\n    Count: 1\r\noutput:\r\n  dest:\r\n    - name: 861736fe-6189-4fad-9d77-c74aab45e786_output.txt\r\n      targetType: s3\r\n      fileType: txt\r\n      encoding: UTF-8\r\n      filePath: s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/861736fe-6189-4fad-9d77-c74aab45e786_output.txt\r\n      argName: outputfile\r\ngeneral:\r\n  debug: yes\r\n  level: 1\r\n  scriptFile: TextSplitter.py\r\n"}]}, {"Name": "container3", "Environment": [{"Name": "OUTPUT_LOC", "Value": "s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/861736fe-6189-4fad-9d77-c74aab45e786_output.txt"}]}]}}, "Resource": "arn:aws:states:::ecs:runTask.sync", "Type": "Task", "End": true}, "Split 3": {"Parameters": {"LaunchType": "FARGATE", "Cluster": "arn:aws:ecs:ap-southeast-1:797237262327:cluster/cdk-modules-ClusterEB0386A7-WClYO89G9osw", "TaskDefinition": "arn:aws:ecs:ap-southeast-1:797237262327:task-definition/ecsTask:1988", "NetworkConfiguration": {"AwsvpcConfiguration": {"AssignPublicIp": "ENABLED", "SecurityGroups": ["sg-040ba6857f1980fe9"], "Subnets": ["subnet-0e824c46"]}}, "Overrides": {"ContainerOverrides": [{"Name": "container1", "Environment": [{"Name": "MODULE_LOC", "Value": "s3://lppdatasource103424-devthree/public/modules/1608882570/Scripts/v1/Text-Splitter"}, {"Name": "INPUT_LOC", "Value": "s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/03c248f4-f1e3-4502-a6fb-05c7ea76d4ca_output.txt"}, {"Name": "CONFIG_FILE", "Value": "metaData:\r\n  name: Text Splitter\r\n  description: Split 3\r\n  config: default\r\n  version: 1\r\n  team: NLP\r\ninput:\r\n  source:\r\n    - filePath: s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/03c248f4-f1e3-4502-a6fb-05c7ea76d4ca_output.txt\r\n      name: 03c248f4-f1e3-4502-a6fb-05c7ea76d4ca_output.txt\r\n      srcType: S3\r\n      fileType: txt\r\n      encoding: UTF-8\r\n      argName: inputfile\r\nfunctional:\r\n  process:\r\n    splittertype:\r\n      dataType: string\r\n      value: sentSplitter\r\n    batchsize:\r\n      dataType: int\r\n      value: 10\r\n    regex:\r\n      dataType: string\r\n      value: \"[\\\\w']+\"\r\ndeployment:\r\n  type: fargate\r\n  config:\r\n    lauch_type: User Option\r\n    ClusterName: lg cluster\r\n    ImageId: ami-0947d21ff75\r\n    InstanceType: t2.micro\r\n    ServiceName: nginx\r\n    CPU: 256\r\n    Memory: 512\r\n    Port: 80\r\n    HostPort: 80\r\n    Image: nginx:alpine\r\n    Count: 1\r\noutput:\r\n  dest:\r\n    - name: 94baa445-8e4e-49c5-8853-84f13b479f33_output.txt\r\n      targetType: s3\r\n      fileType: txt\r\n      encoding: UTF-8\r\n      filePath: s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/94baa445-8e4e-49c5-8853-84f13b479f33_output.txt\r\n      argName: outputfile\r\ngeneral:\r\n  debug: yes\r\n  level: 1\r\n  scriptFile: TextSplitter.py\r\n"}]}, {"Name": "container3", "Environment": [{"Name": "OUTPUT_LOC", "Value": "s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/94baa445-8e4e-49c5-8853-84f13b479f33_output.txt"}]}]}}, "Resource": "arn:aws:states:::ecs:runTask.sync", "Type": "Task", "End": true}, "Split 1": {"Parameters": {"LaunchType": "FARGATE", "Cluster": "arn:aws:ecs:ap-southeast-1:797237262327:cluster/cdk-modules-ClusterEB0386A7-WClYO89G9osw", "TaskDefinition": "arn:aws:ecs:ap-southeast-1:797237262327:task-definition/ecsTask:1986", "NetworkConfiguration": {"AwsvpcConfiguration": {"AssignPublicIp": "ENABLED", "SecurityGroups": ["sg-040ba6857f1980fe9"], "Subnets": ["subnet-0e824c46"]}}, "Overrides": {"ContainerOverrides": [{"Name": "container1", "Environment": [{"Name": "MODULE_LOC", "Value": "s3://lppdatasource103424-devthree/public/modules/1608882570/Scripts/v1/Text-Splitter"}, {"Name": "INPUT_LOC", "Value": "s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/a88f9079-70ea-4e91-a731-57c8f576bf41_output.txt"}, {"Name": "CONFIG_FILE", "Value": "metaData:\r\n  name: Text Splitter\r\n  description: Split 1\r\n  config: default\r\n  version: 1\r\n  team: NLP\r\ninput:\r\n  source:\r\n    - filePath: s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/a88f9079-70ea-4e91-a731-57c8f576bf41_output.txt\r\n      name: a88f9079-70ea-4e91-a731-57c8f576bf41_output.txt\r\n      srcType: S3\r\n      fileType: txt\r\n      encoding: UTF-8\r\n      argName: inputfile\r\nfunctional:\r\n  process:\r\n    splittertype:\r\n      dataType: string\r\n      value: sentSplitter\r\n    batchsize:\r\n      dataType: int\r\n      value: 10\r\n    regex:\r\n      dataType: string\r\n      value: \"[\\\\w']+\"\r\ndeployment:\r\n  type: fargate\r\n  config:\r\n    lauch_type: User Option\r\n    ClusterName: lg cluster\r\n    ImageId: ami-0947d21ff75\r\n    InstanceType: t2.micro\r\n    ServiceName: nginx\r\n    CPU: 256\r\n    Memory: 512\r\n    Port: 80\r\n    HostPort: 80\r\n    Image: nginx:alpine\r\n    Count: 1\r\noutput:\r\n  dest:\r\n    - name: 1d1f42ab-406f-4cda-961e-ce11646cf019_output.txt\r\n      targetType: s3\r\n      fileType: txt\r\n      encoding: UTF-8\r\n      filePath: s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/1d1f42ab-406f-4cda-961e-ce11646cf019_output.txt\r\n      argName: outputfile\r\ngeneral:\r\n  debug: yes\r\n  level: 1\r\n  scriptFile: TextSplitter.py\r\n"}]}, {"Name": "container3", "Environment": [{"Name": "OUTPUT_LOC", "Value": "s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/1d1f42ab-406f-4cda-961e-ce11646cf019_output.txt"}]}]}}, "Resource": "arn:aws:states:::ecs:runTask.sync", "Type": "Task", "End": true}}}
