lg_soft/api/parallel/up-parallel-4.yaml
{"StartAt": "Creating Resources", "States": {"Creating Resources": {"Parameters": {"FunctionName": "arn:aws:lambda:ap-southeast-1:797237262327:function:cdk-modules-createResources6F811765-12HYVD8DKG0R1", "Payload": {"stackName.$": "States.Format('cft-{}', $$.Execution.Name)", "cft_template": "QVdTVGVtcGxhdGVGb3JtYXRWZXJzaW9uOiAnMjAxMC0wOS0wOScKT3V0cHV0czoKICBEYXRhVmFsaWRhdG9yOgogICAgRGVzY3JpcHRpb246IE91dHB1dCBmcm9tIExhbWJkYSBTdGVwCiAgICBWYWx1ZTogIVJlZiAnRGF0YVZhbGlkYXRvcicKUGFyYW1ldGVyczoKICBSdW5JZDoKICAgIFR5cGU6IFN0cmluZwpSZXNvdXJjZXM6CiAgRGF0YVZhbGlkYXRvcjoKICAgIFByb3BlcnRpZXM6CiAgICAgIENvZGU6CiAgICAgICAgUzNCdWNrZXQ6IGxwcGRhdGFzb3VyY2UxMDM0MjQtZGV2dGhyZWUKICAgICAgICBTM0tleTogRGF0YVZhbGlkYXRvci1kZXYtRGF0YVZhbGlkYXRvci0wNWRhMWM2OC01OTE1LTQwMDktYmUwOC00MGJmMzNkZDBlMDEuemlwCiAgICAgIEZ1bmN0aW9uTmFtZTogIUpvaW4KICAgICAgICAtICcnCiAgICAgICAgLSAtIGxhbWJkYS0KICAgICAgICAgIC0gRGF0YVZhbGlkYXRvcgogICAgICAgICAgLSAnLScKICAgICAgICAgIC0gIVJlZiAnUnVuSWQnCiAgICAgIEhhbmRsZXI6IGhhbmRsZXIubWFpbgogICAgICBMYXllcnM6CiAgICAgICAgLSBhcm46YXdzOmxhbWJkYTphcC1zb3V0aGVhc3QtMTo3OTcyMzcyNjIzMjc6bGF5ZXI6YXdzLWRhdGEtd3JhbmdsZXI6MwogICAgICBNZW1vcnlTaXplOiAxMDI0CiAgICAgIFJvbGU6ICFHZXRBdHQgJ0xhbWJkYUV4ZWN1dGlvblJvbGUuQXJuJwogICAgICBSdW50aW1lOiBweXRob24zLjYKICAgIFR5cGU6IEFXUzo6TGFtYmRhOjpGdW5jdGlvbgogIExhbWJkYUV4ZWN1dGlvblJvbGU6CiAgICBQcm9wZXJ0aWVzOgogICAgICBBc3N1bWVSb2xlUG9saWN5RG9jdW1lbnQ6CiAgICAgICAgU3RhdGVtZW50OgogICAgICAgICAgLSBBY3Rpb246CiAgICAgICAgICAgICAgLSBzdHM6QXNzdW1lUm9sZQogICAgICAgICAgICBFZmZlY3Q6IEFsbG93CiAgICAgICAgICAgIFByaW5jaXBhbDoKICAgICAgICAgICAgICBTZXJ2aWNlOgogICAgICAgICAgICAgICAgLSBsYW1iZGEuYW1hem9uYXdzLmNvbQogICAgICAgIFZlcnNpb246ICcyMDEyLTEwLTE3JwogICAgICBQYXRoOiAvCiAgICAgIFBvbGljaWVzOgogICAgICAgIC0gUG9saWN5RG9jdW1lbnQ6CiAgICAgICAgICAgIFN0YXRlbWVudDoKICAgICAgICAgICAgICAtIEFjdGlvbjoKICAgICAgICAgICAgICAgICAgLSBsb2dzOioKICAgICAgICAgICAgICAgIEVmZmVjdDogQWxsb3cKICAgICAgICAgICAgICAgIFJlc291cmNlOiBhcm46YXdzOmxvZ3M6KjoqOioKICAgICAgICAgICAgICAtIEFjdGlvbjogJyonCiAgICAgICAgICAgICAgICBFZmZlY3Q6IEFsbG93CiAgICAgICAgICAgICAgICBSZXNvdXJjZTogJyonCiAgICAgICAgICAgIFZlcnNpb246ICcyMDEyLTEwLTE3JwogICAgICAgICAgUG9saWN5TmFtZTogcm9vdAogICAgVHlwZTogQVdTOjpJQU06OlJvbGUK"}}, "Resource": "arn:aws:states:::lambda:invoke", "Type": "Task", "Next": "Wait for Resources to be Created"}, "Wait for Resources to be Created": {"Seconds": 60, "Type": "Wait", "Next": "Get Resource Creation Status"}, "Get Resource Creation Status": {"Parameters": {"FunctionName": "arn:aws:lambda:ap-southeast-1:797237262327:function:cdk-modules-getResourceCreationStatusCD91A4A1-FG4JBK4D615G", "Payload": {"stackName.$": "States.Format('cft-{}', $$.Execution.Name)"}}, "Resource": "arn:aws:states:::lambda:invoke", "Type": "Task", "Next": "DataValidator"}, "DataValidator": {"Parameters": {"FunctionName.$": "$['Payload']['DataValidator']", "Payload": {"input": {"source": [{"filePath": "s3://lppdatasource103424-devthree/public/DataLoad/Inputs/batch_data.csv", "name": "batch_data.csv", "srcType": "S3", "fileType": "csv", "encoding": "UTF-8", "argName": "inputfile", "Fields": {"need": ["id", "diagnosis", "radius_mean", "texture_mean", "perimeter_mean", "area_mean", "smoothness_mean", "compactness_mean", "concavity_mean", "concave points_mean", "symmetry_mean", "fractal_dimension_mean", "radius_se", "texture_se", "perimeter_se", "area_se", "smoothness_se", "compactness_se", "concavity_se", "concave points_se", "symmetry_se", "fractal_dimension_se", "radius_worst", "texture_worst", "perimeter_worst", "area_worst", "smoothness_worst", "compactness_worst", "concavity_worst", "concave points_worst", "symmetry_worst"]}, "FieldValidations": {"id": {"type": "integer", "conditions": ["null", "int"], "action": "drop"}, "diagnosis": {"type": "String", "conditions": ["null", "string"], "action": "drop"}, "radius_mean": {"type": "integer", "conditions": ["null"], "action": "drop"}, "texture_mean": {"type": "integer", "conditions": ["null"], "action": "drop"}, "perimeter_mean": {"type": "integer", "conditions": ["null"], "action": "drop"}, "area_mean": {"type": "integer", "conditions": ["null"], "action": "drop"}, "smoothness_mean": {"type": "integer", "conditions": ["null"], "action": "drop"}, "compactness_mean": {"type": "integer", "conditions": ["null"], "action": "drop"}, "concavity_mean": {"type": "integer", "conditions": ["null"], "action": "drop"}, "concave points_mean": {"type": "integer", "conditions": ["null"], "action": "drop"}, "symmetry_mean": {"type": "integer", "conditions": ["null"], "action": "drop"}, "fractal_dimension_mean": {"type": "integer", "conditions": ["null"], "action": "drop"}, "radius_se": {"type": "integer", "conditions": ["null"], "action": "drop"}, "texture_se": {"type": "integer", "conditions": ["null"], "action": "drop"}, "perimeter_se": {"type": "integer", "conditions": ["null"], "action": "drop"}, "area_se": {"type": "integer", "conditions": ["null"], "action": "drop"}, "smoothness_se": {"type": "integer", "conditions": ["null"], "action": "drop"}, "compactness_se": {"type": "integer", "conditions": ["null"], "action": "drop"}, "concavity_se": {"type": "integer", "conditions": ["null"], "action": "drop"}, "concave points_se": {"type": "integer", "conditions": ["null"], "action": "drop"}, "symmetry_se": {"type": "integer", "conditions": ["null"], "action": "drop"}, "fractal_dimension_se": {"type": "integer", "conditions": ["null"], "action": "drop"}, "radius_worst": {"type": "integer", "conditions": ["null"], "action": "drop"}, "texture_worst": {"type": "integer", "conditions": ["null"], "action": "drop"}, "perimeter_worst": {"type": "integer", "conditions": ["null"], "action": "drop"}, "area_worst": {"type": "integer", "conditions": ["null"], "action": "drop"}, "smoothness_worst": {"type": "integer", "conditions": ["null"], "action": "drop"}, "compactness_worst": {"type": "integer", "conditions": ["null"], "action": "drop"}, "concavity_worst": {"type": "integer", "conditions": ["null"], "action": "drop"}, "concave points_worst": {"type": "integer", "conditions": ["null"], "action": "drop"}, "symmetry_worst": {"type": "integer", "conditions": ["null"], "action": "drop"}}}]}, "output": {"dest": [{"name": "38ee5bb9-0381-46e4-ae65-837c187f8dea_output.txt", "targetType": "s3", "fileType": "txt", "encoding": "UTF-8", "filePath": "s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/38ee5bb9-0381-46e4-ae65-837c187f8dea_output.txt", "argName": "outputfile"}]}}}, "ResultPath": "$.results.DataValidator", "Resource": "arn:aws:states:::lambda:invoke", "Type": "Task", "Next": "parallelState-1"}, "parallelState-1": {"Type": "Parallel", "Next": "Deleting Resources", "Branches": [{"StartAt": "Splits1", "States": {"Splits1": {"Parameters": {"LaunchType": "FARGATE", "Cluster": "arn:aws:ecs:ap-southeast-1:797237262327:cluster/cdk-modules-ClusterEB0386A7-WClYO89G9osw", "TaskDefinition": "arn:aws:ecs:ap-southeast-1:797237262327:task-definition/ecsTask:1942", "NetworkConfiguration": {"AwsvpcConfiguration": {"AssignPublicIp": "ENABLED", "SecurityGroups": ["sg-040ba6857f1980fe9"], "Subnets": ["subnet-0e824c46"]}}, "Overrides": {"ContainerOverrides": [{"Name": "container1", "Environment": [{"Name": "MODULE_LOC", "Value": "s3://lppdatasource103424-devthree/public/modules/1608882570/Scripts/v1/Text-Splitter"}, {"Name": "INPUT_LOC", "Value": "s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/38ee5bb9-0381-46e4-ae65-837c187f8dea_output.txt"}, {"Name": "CONFIG_FILE", "Value": "metaData:\r\n  name: Text Splitter\r\n  description: Splits1\r\n  config: default\r\n  version: 1\r\n  team: NLP\r\ninput:\r\n  source:\r\n    - filePath: s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/38ee5bb9-0381-46e4-ae65-837c187f8dea_output.txt\r\n      name: 38ee5bb9-0381-46e4-ae65-837c187f8dea_output.txt\r\n      srcType: S3\r\n      fileType: txt\r\n      encoding: UTF-8\r\n      argName: inputfile\r\nfunctional:\r\n  process:\r\n    splittertype:\r\n      dataType: string\r\n      value: sentSplitter\r\n    batchsize:\r\n      dataType: int\r\n      value: 10\r\n    regex:\r\n      dataType: string\r\n      value: \"[\\\\w']+\"\r\ndeployment:\r\n  type: fargate\r\n  config:\r\n    lauch_type: User Option\r\n    ClusterName: lg cluster\r\n    ImageId: ami-0947d21ff75\r\n    InstanceType: t2.micro\r\n    ServiceName: nginx\r\n    CPU: 256\r\n    Memory: 512\r\n    Port: 80\r\n    HostPort: 80\r\n    Image: nginx:alpine\r\n    Count: 1\r\noutput:\r\n  dest:\r\n    - name: fe103769-761d-42a0-81ab-2ca10a01048a_output.txt\r\n      targetType: s3\r\n      fileType: txt\r\n      encoding: UTF-8\r\n      filePath: s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/fe103769-761d-42a0-81ab-2ca10a01048a_output.txt\r\n      argName: outputfile\r\ngeneral:\r\n  debug: yes\r\n  level: 1\r\n  scriptFile: TextSplitter.py\r\n"}]}, {"Name": "container3", "Environment": [{"Name": "OUTPUT_LOC", "Value": "s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/fe103769-761d-42a0-81ab-2ca10a01048a_output.txt"}]}]}}, "Resource": "arn:aws:states:::ecs:runTask.sync", "Type": "Task", "End": true}}}, {"StartAt": "Split2", "States": {"Split2": {"Parameters": {"LaunchType": "FARGATE", "Cluster": "arn:aws:ecs:ap-southeast-1:797237262327:cluster/cdk-modules-ClusterEB0386A7-WClYO89G9osw", "TaskDefinition": "arn:aws:ecs:ap-southeast-1:797237262327:task-definition/ecsTask:1943", "NetworkConfiguration": {"AwsvpcConfiguration": {"AssignPublicIp": "ENABLED", "SecurityGroups": ["sg-040ba6857f1980fe9"], "Subnets": ["subnet-0e824c46"]}}, "Overrides": {"ContainerOverrides": [{"Name": "container1", "Environment": [{"Name": "MODULE_LOC", "Value": "s3://lppdatasource103424-devthree/public/modules/1608882570/Scripts/v1/Text-Splitter"}, {"Name": "INPUT_LOC", "Value": "s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/38ee5bb9-0381-46e4-ae65-837c187f8dea_output.txt"}, {"Name": "CONFIG_FILE", "Value": "metaData:\r\n  name: Text Splitter\r\n  description: Split2\r\n  config: default\r\n  version: 1\r\n  team: NLP\r\ninput:\r\n  source:\r\n    - filePath: s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/38ee5bb9-0381-46e4-ae65-837c187f8dea_output.txt\r\n      name: 38ee5bb9-0381-46e4-ae65-837c187f8dea_output.txt\r\n      srcType: S3\r\n      fileType: txt\r\n      encoding: UTF-8\r\n      argName: inputfile\r\nfunctional:\r\n  process:\r\n    splittertype:\r\n      dataType: string\r\n      value: sentSplitter\r\n    batchsize:\r\n      dataType: int\r\n      value: 10\r\n    regex:\r\n      dataType: string\r\n      value: \"[\\\\w']+\"\r\ndeployment:\r\n  type: fargate\r\n  config:\r\n    lauch_type: User Option\r\n    ClusterName: lg cluster\r\n    ImageId: ami-0947d21ff75\r\n    InstanceType: t2.micro\r\n    ServiceName: nginx\r\n    CPU: 256\r\n    Memory: 512\r\n    Port: 80\r\n    HostPort: 80\r\n    Image: nginx:alpine\r\n    Count: 1\r\noutput:\r\n  dest:\r\n    - name: 031deade-c857-4903-b3e2-b5481e7d483a_output.txt\r\n      targetType: s3\r\n      fileType: txt\r\n      encoding: UTF-8\r\n      filePath: s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/031deade-c857-4903-b3e2-b5481e7d483a_output.txt\r\n      argName: outputfile\r\ngeneral:\r\n  debug: yes\r\n  level: 1\r\n  scriptFile: TextSplitter.py\r\n"}]}, {"Name": "container3", "Environment": [{"Name": "OUTPUT_LOC", "Value": "s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/031deade-c857-4903-b3e2-b5481e7d483a_output.txt"}]}]}}, "Resource": "arn:aws:states:::ecs:runTask.sync", "Type": "Task", "Next": "parallelState-2"}, "parallelState-2": {"Type": "Parallel", "End": true, "Branches": [{"StartAt": "Splits3", "States": {"Splits3": {"Parameters": {"LaunchType": "FARGATE", "Cluster": "arn:aws:ecs:ap-southeast-1:797237262327:cluster/cdk-modules-ClusterEB0386A7-WClYO89G9osw", "TaskDefinition": "arn:aws:ecs:ap-southeast-1:797237262327:task-definition/ecsTask:1944", "NetworkConfiguration": {"AwsvpcConfiguration": {"AssignPublicIp": "ENABLED", "SecurityGroups": ["sg-040ba6857f1980fe9"], "Subnets": ["subnet-0e824c46"]}}, "Overrides": {"ContainerOverrides": [{"Name": "container1", "Environment": [{"Name": "MODULE_LOC", "Value": "s3://lppdatasource103424-devthree/public/modules/1608882570/Scripts/v1/Text-Splitter"}, {"Name": "INPUT_LOC", "Value": "s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/031deade-c857-4903-b3e2-b5481e7d483a_output.txt"}, {"Name": "CONFIG_FILE", "Value": "metaData:\r\n  name: Text Splitter\r\n  description: Splits3\r\n  config: default\r\n  version: 1\r\n  team: NLP\r\ninput:\r\n  source:\r\n    - filePath: s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/031deade-c857-4903-b3e2-b5481e7d483a_output.txt\r\n      name: 031deade-c857-4903-b3e2-b5481e7d483a_output.txt\r\n      srcType: S3\r\n      fileType: txt\r\n      encoding: UTF-8\r\n      argName: inputfile\r\nfunctional:\r\n  process:\r\n    splittertype:\r\n      dataType: string\r\n      value: sentSplitter\r\n    batchsize:\r\n      dataType: int\r\n      value: 10\r\n    regex:\r\n      dataType: string\r\n      value: \"[\\\\w']+\"\r\ndeployment:\r\n  type: fargate\r\n  config:\r\n    lauch_type: User Option\r\n    ClusterName: lg cluster\r\n    ImageId: ami-0947d21ff75\r\n    InstanceType: t2.micro\r\n    ServiceName: nginx\r\n    CPU: 256\r\n    Memory: 512\r\n    Port: 80\r\n    HostPort: 80\r\n    Image: nginx:alpine\r\n    Count: 1\r\noutput:\r\n  dest:\r\n    - name: b950aedb-7bd3-4dda-a128-e2315a4c8562_output.txt\r\n      targetType: s3\r\n      fileType: txt\r\n      encoding: UTF-8\r\n      filePath: s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/b950aedb-7bd3-4dda-a128-e2315a4c8562_output.txt\r\n      argName: outputfile\r\ngeneral:\r\n  debug: yes\r\n  level: 1\r\n  scriptFile: TextSplitter.py\r\n"}]}, {"Name": "container3", "Environment": [{"Name": "OUTPUT_LOC", "Value": "s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/b950aedb-7bd3-4dda-a128-e2315a4c8562_output.txt"}]}]}}, "Resource": "arn:aws:states:::ecs:runTask.sync", "Type": "Task", "End": true}}}, {"StartAt": "Cleans text of noisy data", "States": {"Cleans text of noisy data": {"Parameters": {"LaunchType": "FARGATE", "Cluster": "arn:aws:ecs:ap-southeast-1:797237262327:cluster/cdk-modules-ClusterEB0386A7-WClYO89G9osw", "TaskDefinition": "arn:aws:ecs:ap-southeast-1:797237262327:task-definition/ecsTask:1945", "NetworkConfiguration": {"AwsvpcConfiguration": {"AssignPublicIp": "ENABLED", "SecurityGroups": ["sg-040ba6857f1980fe9"], "Subnets": ["subnet-0e824c46"]}}, "Overrides": {"ContainerOverrides": [{"Name": "container1", "Environment": [{"Name": "MODULE_LOC", "Value": "s3://lppdatasource103424-devthree/public/modules/1608572506/Scripts/v1/Data-Cleanser"}, {"Name": "INPUT_LOC", "Value": "s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/031deade-c857-4903-b3e2-b5481e7d483a_output.txt"}, {"Name": "CONFIG_FILE", "Value": "metaData:\r\n  name: Data Cleanser\r\n  description: Cleans text of noisy data\r\n  config: default\r\n  version: 1\r\n  team: NLP\r\ninput:\r\n  source:\r\n    - filePath: s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/031deade-c857-4903-b3e2-b5481e7d483a_output.txt\r\n      name: 031deade-c857-4903-b3e2-b5481e7d483a_output.txt\r\n      srcType: S3\r\n      fileType: txt\r\n      encoding: UTF-8\r\n      argName: inputfile\r\nfunctional:\r\n  process:\r\n    cleansertype:\r\n      dataType: string\r\n      value: denoiseText\r\ndeployment:\r\n  type: fargate\r\n  config:\r\n    lauch_type: User Option\r\n    ClusterName: lg cluster\r\n    ImageId: ami-0947d21ff75\r\n    InstanceType: t2.micro\r\n    ServiceName: nginx\r\n    CPU: 256\r\n    Memory: 512\r\n    Port: 80\r\n    HostPort: 80\r\n    Image: nginx:alpine\r\n    Count: 1\r\noutput:\r\n  dest:\r\n    - name: 6374b328-9fb3-44d9-a2aa-17dd08e3bd5a_output.txt\r\n      targetType: s3\r\n      fileType: txt\r\n      encoding: UTF-8\r\n      filePath: s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/6374b328-9fb3-44d9-a2aa-17dd08e3bd5a_output.txt\r\n      argName: outputfile\r\ngeneral:\r\n  debug: yes\r\n  level: 1\r\n  scriptFile: DataCleanser.py\r\n"}]}, {"Name": "container3", "Environment": [{"Name": "OUTPUT_LOC", "Value": "s3://lppdatasource103424-devthree/public/DataLoad/Outputs/Outputs1/6374b328-9fb3-44d9-a2aa-17dd08e3bd5a_output.txt"}]}]}}, "Resource": "arn:aws:states:::ecs:runTask.sync", "Type": "Task", "End": true}}}]}}}]}, "Deleting Resources": {"Parameters": {"FunctionName": "arn:aws:lambda:ap-southeast-1:797237262327:function:cdk-modules-deleteResourcesAEC2ADAD-1EC378CLYYCNX", "Payload": {"stackName.$": "States.Format('cft-{}', $$.Execution.Name)"}}, "Resource": "arn:aws:states:::lambda:invoke", "Type": "Task", "End": true}}}
